<div class="centered-content">
    <div class="spinner-border" role="status" id="loading">
        <span class="sr-only" ></span>
    </div>
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">Lists</h1>
            <div class="list-menu">
                <a href="#" class="list-menu-item" *ngFor = "let list of lists" [routerLink]="['/lists',list._id]" routerLinkActive="is-active">
                    <p class="white-text"><span class="pull-right task-delete btn-rounded-corners" (click)="deleteList(list)">X</span>
                    {{list.title}}
                    </p>
                </a>
            </div>
            <button class="btn btn-primary btn-rounded-corners" routerLink="/new-list">Add List</button>
        </div> 
        <div class="task-list-container">
        <div class="task" [class.complete] = "t.completed" *ngFor = "let t of task" (click) = "onTaskClick(t)">
             <p class="white-text ">
                {{t.title}}
                <span class="pull-right task-delete btn-rounded-corners" (click) = "deleteTask(t)">X</span></p>
        </div>
        <button class="btn btn-primary add-button" (click)="addTaskClick()">Add Task</button >
        </div>
    </div>
</div>
